
<div>

    <h2>Update the drone</h>

    <form action="/drones/{{this.droneToEdit._id}}/edit" method="post">

        <label for="name">Nombre</label>
        <input type="text" name="name" value="{{this.droneToEdit.name}}">
        {{!-- el name del input deberia ser igual a la propiedad del modelo --}}

        <br>

        <label for="propellers">Helices</label>
        <input type="text" name="propellers" value="{{this.droneToEdit.propellers}}">

        <br>

        <label for="maxSpeed">Velocidad max.</label>
        <input type="text" name="maxSpeed" value="{{this.droneToEdit.maxSpeed}}">

        <br>

        <button type="submit">Editar</button>
    </form>

    {{!-- <a href="/book/{{this.bookToEdit._id}}/delete"> --}}
    {{!-- <form action="/book/{{this.bookToEdit._id}}/delete" method="post">
    <button>Borrar Libro</button>
    </form> --}}
    {{!-- </a> --}}

</div>